/* Sivun perustyylit */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100.1dvh;
    background-color: #000;
    font-family: "Courier New", monospace;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}


/* Silmän sijainti */
.cyber-eye {
    position: fixed;
    height: 100dvh;
    width: auto;
    right: 15vw;
    top: 0;
    opacity: 0;
    z-index: 1;
    animation: 
        electrical-awakening 23s linear forwards,
        eye-pulse 4s linear 23s infinite;
}


/* Käynnistys sekvenssi kontti */
#boot-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    z-index: 2;
}


/* Käynnistys sekvenssi phaset oletuksena visibility hidden */
#phase-1,
#phase-2,
#phase-3,
#phase-4,
#phase-5 {
    position: fixed;
    bottom: 15dvh;
    left: 10vw;
    color: #00FF9F;
    font-size: clamp(0.9rem, 1vw + 0.5rem, 1.3rem);
    line-height: 1.6;
    text-shadow: 0 0 8px #00FF9F;
    border-left: 2px solid #00FF9F;
    padding-left: 15px;
    visibility: hidden;
}


/* Kellotus napin asetukset */
#overclock-hint {
    position: fixed;
    bottom: 16%;
    right: 10%;
    color: #00FF9F;
    font-family: 'Courier New', monospace;
    font-size: clamp(0.75rem, 1vw + 0.5rem, 1.3rem);
    letter-spacing: 2px;
    opacity: 1;
    display: none;
    cursor: pointer;
    border: 1px solid #00FF9F;
    padding: 5px 10px;
    border-radius: 5px;
    animation: overclock-pulse 3s infinite;
}


/* Jos kellotus nappia painettu niin vilkkumis animaatio pois */
.overclock-active {
    animation: none !important;
}


/* Navbarin asetukset */
.hud-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    z-index: 8;
    display: flex;
    align-items: center;
    opacity: 0;
}
.hud-header.is-active {
    opacity: 1;
}
.system-flicker {
    animation: header-flicker 5s linear;
}
.header-center-title,
.navbar-brand,
.sivusto {
    font-family: "Bruno Ace SC", sans-serif;
    margin: 0;
    color: #00FF9F;
}
.braille-container {
    color: #00FF9F;
    font-family: serif;
    font-size: 1.2rem;
    opacity: 0.6;
    user-select: none;
}
.custom-burger {
    border: none;
    background: transparent;
    display: flex;
    color: #00FF9F;
    gap: 4px;
    padding: 5px;
    flex-direction: column;
    box-shadow: none !important;
}
.burger-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #00FF9F;
    box-shadow: 0 0 5px #00FF9F;
}
.mobile-link {
    color: #00FF9F;
    font-family: "Bruno Ace SC", sans-serif;
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
}
.project-number {
    font-weight: bold;
}
.project-tag {
    border-bottom: 1px solid #00FF9F;
}


/* Asetukset näkymälle käynnistys sekvenssin jälkeen */
#main-content {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 3;
}
.hud-taustakuva {
    width: auto;
    height: 100%;
    background: url(../images/taustakuva.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: main-hud-flicker 4s linear;
    opacity: 0.6;
}

/* Footerin asetukset */
.footer-container {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    color: #00FF9F;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
}
.footer-info {
    gap: 2px;
}
.footer-info .small {
    font-size: clamp(0.5rem, 0.7vw, 0.75rem) !important;
    font-family: 'Courier New', monospace;
}
#footer-tech {
    margin-bottom: 2%;
}


/* Silmän pulssaaminen animaatio */
@keyframes eye-pulse {
    0%, 100% { 
        opacity: 1; 
    }
    50% { 
        opacity: 0.6; 
    }
}


/* Pää näkymän flicker animaatio */
@keyframes main-hud-flicker {
    0% { opacity: 0; }
    1% { opacity: 1; }
    2% { opacity: 0; }
    3% { opacity: 1; }
    4% { opacity: 0; }
    5% { opacity: 1; }
    12% { opacity: 0; }
    15% { opacity: 0.8; }
    35% { opacity: 0.1; }
    55% { opacity: 0.75; }
    100% { opacity: 0.6; }
}


/* Silmän heräämis animaatio */
@keyframes electrical-awakening {
    0% { opacity: 0; }
    5% { opacity: 0.2; }
    6% { opacity: 0; }
    6.5% { opacity: 1; }
    6.75% { opacity: 0; }
    7% { opacity: 1; }
    7.25% { opacity: 0; }
    7.5% { opacity: 1; }
    15% { opacity: 0.6; }
    20%  { opacity: 0.3; }
    20.25%  { opacity: 1; }
    20.50%  { opacity: 0; }
    20.75%  { opacity: 1; }
    40%  { opacity: 0.3; }
    40.25% { opacity: 1; }
    40.50% { opacity: 0; }
    40.75% { opacity: 1; }
    41% { opacity: 0; }
    41.25% { opacity: 1; }
    50%  { opacity: 0.2; }
    70%  { opacity: 0.7; }
    80%  { opacity: 0.4; }
    85% { opacity: 1; }
    100% { opacity: 1; }
}


@keyframes header-flicker {
    0% { opacity: 0; }
    5% { opacity: 1; }
    6% { opacity: 0; }
    6.5% { opacity: 1; }
    6.75% { opacity: 0; }
    7% { opacity: 1; }
    7.25% { opacity: 0; }
    7.5% { opacity: 1; }
    15% { opacity: 0; }
    20%  { opacity: 1; }
    20.25%  { opacity: 0; }
    20.50%  { opacity: 1; }
    20.75%  { opacity: 0; }
    40%  { opacity: 1; }
    40.25% { opacity: 0; }
    40.50% { opacity: 1; }
    40.75% { opacity: 0; }
    41% { opacity: 1; }
    41.25% { opacity: 0; }
    50%  { opacity: 1; }
    70%  { opacity: 0; }
    80%  { opacity: 1; }
    85% { opacity: 0; }
    100% { opacity: 1; }
}


/* Kellotus napin pulssaaminen */
@keyframes overclock-pulse {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}


/* Media kyselyt mihin kohtaa näyttöä silmä asettuu */
@media (min-width: 1024px) and (max-width: 1368px) {
    .cyber-eye {
        right: 0;
    }
    .hud-taustakuva {
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}
@media screen and (max-width: 767px) and (orientation: portrait) {
    .cyber-eye {
        right: -55vw;
    }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
    .cyber-eye {
        right: -40vw;
    }
}
@media screen and (min-width: 540px) and (max-width: 691px) and (orientation: portrait) {
    .cyber-eye {
        right: -30vw;
    }
}


/* Kellotus napin asetukset eri näytöillä */
@media screen and (max-width: 1023px) and (orientation: landscape) {
    #phase-1,
    #phase-2,
    #phase-3,
    #phase-4,
    #phase-5 {
        bottom: 25%;
    }
    #overclock-hint {
        right: auto;
        left: 10%;
        bottom: 10%;
    }
}
@media screen and (max-width: 1023px) and (orientation: portrait) {
    #phase-1,
    #phase-2,
    #phase-3,
    #phase-4,
    #phase-5 {
        bottom: 20%;
    }
    #overclock-hint {
        right: auto;
        left: 10%;
        bottom: 12%;
    }
    .hud-taustakuva {
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}