body {
    margin: 0;
    background-color: #12131a;
}

.mobile-header, .mobile-navigaatio {
    background-color: #1b1f2b;
}

.mobile-navigaatio {
    margin-top: 43px;
    width: 100%;
}

h1, h3, h4, h5 {
    font-family: 'Exo 2', sans-serif;
    color: #ffffff;
}

h5:hover {
    transform: scale(1.1);
}

h1:hover,
h4:hover,
h5:hover {
    color: #00ffd1;
    text-shadow: 0 0 6px #00ffd1, 0 0 12px #00ffd1;
    transition: all 0.3s ease
}

.offcanvas {
    margin-top: 44px;
    background-color: #1b1f2b;
}

.sidebar {
    background-color: #1b1f2b;
    width: clamp(250px, 18vw, 450px);
    border-right: 2px solid #ffffff;
    box-shadow: 0 0 6px #ffffff, 0 0 12px #ffffff;
}

.sidebar:hover {
    border-right: 2px solid #00ffd1;
    box-shadow: 0 0 6px #00ffd1, 0 0 12px #00ffd1;
    transition: all 0.3s ease;
}

.titteli:hover {
    cursor: default;
}

#tietoa-minusta {
    padding-top: 100px;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #e0e0e0;
}

@media (min-width: 576px) {
    .offcanvas {
        margin-top: 47px;
    }
}

@media (min-width: 992px) {
    #tietoa-minusta {
        margin-left: clamp(250px, 18vw, 450px);
        padding-top: 50px;
    }
}